<footer>

	<div class="row">
		
		<div class="col-md-9">
			<p>&copy; Copyright  Stévie JEAN-LOUIS & Jean-Raynal BEBEL</p>
		</div>
		<div class="col-md-3">
			<p class="pull-right"><a href="#">Back to top</a></p>
		</div>	
	</div> 

  		
</footer>

