{% extends "RuffeCardTresorieBundle:Default:Menu.html.twig" %}

 
 {% block corp %}

<div class="row" id="">
 <div class="col-md-12">
            <div class="panel panel-primary" id="dashboard">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> ADMINISTRATION DASHBOARD</h3>
                </div>
                
            
                  <div class="panel-body" id="recapitulatifDashboard">
			                    <div class="row" id="corpsRecaptitulatifDashboard">
			                          
			                           <a href="#" class="btn btn-info btn-lg" role="button">
			                          	<span class="fa fa-users "></span>
			                          	<br/>
			                          	{{ Count ['Client'] }}
			                          	<br/>
			                          	Clients
			                          </a>
			                          <a href="#" class="btn btn-danger btn-lg" role="button">
			                            <span class="fa fa-shopping-cart"></span>
			                            <br/> 
			                            {{ Count ['Entreprise'] }}
			                          	<br/>
			                          	Entreprises
			                          </a>
			                          <a href="#" class="btn btn-warning btn-lg" role="button">
			                            <span class="fa fa-smile-o"></span>
			                            <br/>
			                            {{ Count ['Commercial'] }}
			                          	<br/>
			                          	 Commerciaux
			                          </a>
			                          <a href="#" class="btn btn-primary btn-lg" role="button">
			                            <span class="fa fa-suitcase"></span>
			                            <br/>
			                           {{ Count ['Manager'] }}
			                          	<br/>
			                          	
			                          	Managers
			                          </a>
			                          
			                          
			                	    </div>
			                    </div>
              
				
                    
                </div>
            </div>
        </div>
    </div>
</div>
	

		
{% endblock corp %}
		